<div class="row" id="donaciones">
      <div class="col-lg-11 col-lg-offset-1">
        <h1>Gracias por ayudarnos!</h1>
        <p class="lead">
          Nosotros y sobre todo ELLOS, lo agradecen!<br />
          A continuacion te mostramos las formas en que podes ayudarnos.
        </p>
      </div>
    </div>
    <hr id="separador" />
    <div class="row" id="donarDinero">
      <div class="col-lg-2 col-lg-offset-1">
        <img src="img/icons/money-donate.png" alt="" class="img-circle hidden-xs hidden-sm" width="250px" height="250px"/>
      </div>
      <div class="col-lg-7 col-lg-offset-1">
        <h1>Donar dinero</h1>
        <p class="lead">
          Para poder continuar con nuestra accion, necesitamos de tu ayuda. La mayoria de los galgos rescatados llegan en muy malas condiciones y se necesita de visitas veterinarias, medicaciones y en muchos casos, operaciones.<br/>
          Por esta razon agradeceremos enormemente cualquier ayuda que puedas brindarnos.
        </p>
      </div>
    </div>
    <hr id="separador" />
    <div class="row" id="comoAyudar">
        <div class="col-lg-4">
          <img class="img-circle" src="img/icons/Bank-icon.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Transferencia / Deposito</h2>
          <p>Es inmediata y gratuita, es la mejor opcion!</p>
          <a class="btn btn-lg btn-primary" href="contacto.php?a=transito" role="button" id="botonVerde">Donar!</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/icons/dineroMail.png" alt="Generic placeholder image" width="140" height="140">
          <h2>DineroYa</h2>
          <p>Por cada donacion, se nos descuenta el 5% por gastos del servicio.</p>
          <form>
          <label>$&nbsp;&nbsp;</label><input type="text" size="5" type="number" />
          <br/> <br/>
          <a class="btn btn-lg btn-primary" href="enadopcion.php" role="button" id="botonVioleta">Donar!</a>
          </form>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/icons/mercadoPago.png" alt="Generic placeholder image" width="140" height="140">
          <h2>MercadoPago</h2>
          <p>Por cada donacion, se nos descuenta el 7% por gastos del servicio.</p>
          <form>
          <label>$&nbsp;&nbsp;</label><input type="text" size="5" type="number" />
          <br/> <br/>
          <a class="btn btn-lg btn-primary" href="donar.php" role="button" id="botonAzul">Donar!</a>
          </form>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    </div>