<div class="row" id="porquelosGalgos">
      <div class="col-lg-2 col-lg-offset-1  hidden-xs hidden-sm">
        <img src="img/portada/2.jpg" alt="" class="img-circle" width="250px" height="250px"/>
      </div>
      <div class="col-lg-7 col-lg-offset-1">
        <h1>¿Por què los Galgos?</h1>
        <p class="lead">
          Porque al mismo tiempo que son excelentes compañeros; leales, tranquilos, cariñosos;
          son una de las razas más maltratadas en varias partes del mundo.
          En España les dicen "perros de usar y tirar", y en Argentina no es diferente...
        </p>
        <p class="lead">
          El que vio la mirada de un galgo, ha visto la bondad más pura.
          Ellos han sufrido toda su vida, pero no dudan en perdonarnos y darnos otra oportunidad cuando les mostramos que también somos capaces de dar cariño.
        </p>
        <p class="lead">
          El Galgo necesita nuestra ayuda, se encuentra marginado y es todavía invisible ante la sociedad;
          invisible su sufrimiento e invisible a la hora de buscar un compañero para la familia; cuando el Galgo es el perro para compañía ideal.
        </p>
      </div>
    </div>
    <hr id="separador" />
    <div class="row" id="comoAyudar">
      <div class="col-lg-11 col-lg-offset-1">
        <h1>¿Como ayudar?</h1>
        <p class="lead">
          Hay muchas maneras diferentes de ayudarnos en nuestra tarea...
        </p>
      </div>
    </div>
    <div class="row" id="comoAyudar">
        <div class="col-lg-4">
          <img class="img-circle" src="img/icons/money-donate.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Donaciones</h2>
          <p >Aceptamos donaciones de dinero, alimento balanceado, medicamentos y mas.</p>
          <a class="btn btn-lg btn-primary" href="donar.php" role="button" id="botonVerde">Donar!</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/icons/heart-adopt.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Adopciones</h2>
          <p>Conoce a nuestros galguitos en adopcion responsable!</p>
          <a class="btn btn-lg btn-primary" href="enadopcion.php" role="button" id="botonVioleta">Adoptar!</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/icons/Arrow-reload.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Transitos</h2>
          <p>Hay muchos galgos buscando un hogar de transito donde poder recuperarse hasta ser adoptados.</p>
          <a class="btn btn-lg btn-primary" href="contacto.php?a=transito" role="button" id="botonNaranja">Ofrecerse!</a>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <hr id="separador" />
      <div class="row" id="comoAyudar">
      <div class="col-lg-11 col-lg-offset-1">
        <h1>Corre la voz!</h1>
        <p class="lead">
          Ayudanos tambien compartiendo con tus conocidos nuestra causa!
        </p>
      </div>
    </div>
    <div class="row" id="comoAyudar">
        <div class="col-lg-4 col-lg-offset-2">
          <img class="img-circle" src="img/icons/web.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Web</h2>
          <p>Afiches y folletos digitales.</p>
          <a class="btn btn-lg btn-primary" href="donar.php" role="button" id="botonAzul">Ver</a>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/icons/impresos.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Impresos</h2>
          <p>Afiches y folletos para imprimir.</p>
          <a class="btn btn-lg btn-primary" href="enadopcion.php" role="button" id="botonAmarillo">Ver</a>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  </div>