<div class="container-fluid saber-mas-modal">
  <div class="row header" style="background: url('img/adopcion/Anakin_full.jpg')">
    <div class="col-xs-12 text-center">
      <h1>{{ enAdopcion.nombre }}</h1>
    </div>
    <div class="col-xs-12">
      <h3>{{ enAdopcion.desc }}</h3>
    </div>
  </div>
  <div class="row body">
    <div class="col-xs-6">
      <h1>{{ enAdopcion.nombre }}</h1>
    </div>
  </div>
  <div class="row footer">
    <div class="col-sm-12 text-center">
      <span><a class="btn btn-primary" href="#" role="button" ng-click="adoptar(galgo.id)">Adoptar!</a></span>
    </div>
    <div class="col-sm-12 text-center">
      <br/>
      <p>Necesitas ayuda?</p>
      <br/>
    </div>
  </div>
</div>
