<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>{{ enAdopcion.nombre }}</h1>
            <img class="img-circle" src="img/adopcion/Anakin.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
        <div class="col-sm-6 text-left">
            <h3>{{ enAdopcion.edad }}</h3>
        </div>
        <div class="col-sm-6 text-right">
            <h3>{{ enAdopcion.genero }}</h3>
        </div>
        <div class="col-sm-12 well">
            <h4>{{ enAdopcion.desc }}</h4>
        </div>
        <div class="col-sm-12 text-center">
            <span><a class="btn btn-primary" href="#" role="button" ng-click="adoptar(galgo.id)">Adoptar!</a></span>
        </div>
        <div class="col-sm-12 text-center">
            <p>Necesitas ayuda?</p>
        </div>
    </div>
</div>
